services:
  front:
    build:
      context: ./front
    ports:
      - "5173:5173"
    volumes:
      - ./front:/app:delegated
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - VITE_ALLOWED_HOST
    command: sh -c "npm ci && npm run dev"
    depends_on:
      - back

  back:
    build:
      context: ./back
    ports:
      - "3500:3500"
    volumes:
      - ./back:/app:delegated
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - DATABASE_URL=postgresql://postgres:password@db:5432/izzzi?schema=public
    command: sh -c "npm ci && npm run dev"
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: izzzi

volumes:
  db_data:
