services:
  front:
    build:
      context: ./front
      dockerfile: Dockerfile.prod
    environment:
      - API_URL=${API_URL:-http://localhost:3500}
      - VITE_STRIPE_PUBLIC_KEY=${VITE_STRIPE_PUBLIC_KEY}
    restart: always
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
