services:
  back:
    build:
      context: ./back
      dockerfile: Dockerfile.prod
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET:-supersecret}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET:-supersecretrefresh}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - CORS_ORIGIN=https://${DOMAIN_NAME}
      - PORT=3500
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASS=${MAIL_PASS}
      - MAIL_FROM=${MAIL_FROM}
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      - FRONTEND_URL=${FRONTEND_URL}
    restart: always
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
