@import url('./fonts.css');

:root {
  /* Theme */
  --primary: #ffe552;
  --secondary: #fff9d8;

  /* Black & White */
  --black: #000000;
  --white: #ffffff;

  /* Grayscale */
  --gray-2: #fbfbfb;
  --gray-5: #f4f4f4;
  --gray-10: #eaeae9;
  --gray-15: #e0e0e0;
  --gray-100: #2f2e2c;

  /* Colors */
  --dark-orange: #f26103;
  --white: #fff;
  --black: #000;

  /* Status */
  --success: #4caf50;
  --error: #e53935;
  --warning: #ff9800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  color: var(--gray-100);
  background-color: var(--gray-5);
  font-family: 'Poppins', sans-serif;
}

ul,
ol {
  list-style: none;
}

p,
span {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--gray-10);
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:hover,
a:active {
  color: var(--black);
  text-decoration: underline;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mochiy Pop One';
}

h1 {
  font-size: 3.625rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 0.875rem;
}
