@import url('./fonts.css');

:root {
  /* Theme */
  --primary: #ffe552;
  --secondary: #fff9d8;

  /* Neutral */
  --black: #000000;
  --white: #ffffff;

  /* Grayscale */
  --gray-2: #fbfbfb;
  --gray-5: #f4f4f4;
  --gray-10: #eaeae9;
  --gray-15: #e0e0e0;
  --gray-100: #2f2e2c;

  /* Colors */
  --dark-orange: #f26103;
  --orange: #f69d04;
  --white: #fff;
  --black: #000;
  --beige: #fff9d8;
  --yellow: #ffe552;

  /* Status */
  --success: #4caf50;
  --error: #e53935;
  --warning: #ff9800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  color: var(--gray-100);
  background-color: var(--gray-5);
  font-family: 'Poppins', sans-serif;
}

ul,
ol {
  list-style: none;
}

p,
span {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--gray-10);
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:hover,
a:active {
  color: var(--black);
  text-decoration: underline;
  font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 438px;
}

.form--centered {
  align-items: center;
}

.form--full-width {
  width: 100%;
}

.form-title {
  font-weight: 400;
}

.form .input-wrapper {
  width: 100%;
}

.form .button {
  margin: 0;
}

.form--centered .button {
  margin: 0 auto;
}

.form-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form .separator {
  font-family: 'Mochiy Pop One';
  font-size: 1.15rem;
}

.form-errors {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-errors li {
  color: var(--error);
  font-size: 14px;
}

.form-actions {
  display: flex;
  gap: 24px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mochiy Pop One';
}

h1 {
  font-size: 3.625rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 0.875rem;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 12px 20px;
  height: 100vh;
}

.page .switch-panels {
  flex: 1;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.details-search {
  display: flex;
  gap: 56px;
}

.details-class {
  display: flex;
  align-items: end;
  gap: 20px;
}

.details-class p {
  position: relative;
  bottom: 4px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details h1,
.details h2,
.details h3 {
  font-weight: 400;
}

.details p {
  max-width: 412px;
}

.search-wrapper {
  display: grid;
  align-items: center;
}

.search-input {
  min-width: 362px;
  overflow: hidden;
  background-color: var(--white);
}
